%html


%div.blue_background
  %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAkc8i9GKFIZppGA4s3N9oZmp-Wwq7PR6E&sensor=false", :type => "text/javascript"}
  = javascript_include_tag 'heatmap'
  = javascript_include_tag 'heatmap-gmaps'
  = javascript_include_tag 'news-heatmap'
  = stylesheet_link_tag 'heatmap'

  %body
    #main
      #heatmapArea
