<div class="myBox">
<div class="welcome">
<br><br><br><a href="/home">
NewsCloud is a fresh take on watching the news. By combining a heatmap vizualization of breaking news with a list of the top stories NewsCloud delivers a comprehensive global perspective. Eliminate the noise and focus on the relevant. &nbsp;
<a href="/home"><i class="icon-chevron-right" style="color:#3872FF"></i></a></div>
</div>