<div class="overlayInline" style="z-index: 20; position:absolute; width: 100%;
  text-align: center; top: 50%;
   margin-top: -200px;">
<div id="container" style="display: inline-block;">
<div class="welcome">
NewsCloud is a fresh take on watching the news. By combining a heatmap vizualization of breaking news with a list of the top stories NewsCloud delivers a comprehensive global perspective. Eliminate the noise and focus on the relvant.
</div>
</div>
</div>