
<br><br>

<div class="hero-unit">
  <p class="title">About</p>
  <p>view all internet trends in one place because breaking news is broken </p>
<p>a whole new meaning to watching the news
method to influence twitter trends by organizing and cultivating ideas making them contagious</p>
<p>community to influence change and awareness on the web
  </p>
</div>