body, html {
    margin-top:20px;
    padding:0;
    font-family:Arial;
}

#main {
    margin-left:auto;
    margin-right:auto;
    width:auto;
    margin:auto;
}

.layout
{
  text-align: center;
}

.overlay {
  z-index:10;
  position:relative;
  top: -500px;
    text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#heatmapArea {
    position: fixed;
    z-index: auto;
    margin-left:auto;
    margin-right:auto;
    width:1020px;
    height:500px;
    border: -1px solid #A4BEDE;
}

