body, html {
    margin-top:20px;
    padding:0;
    font-family:Arial;
}

#main {
    margin-left:auto;
    margin-right:auto;
    width:auto;
    margin:auto;
}

.layout
{
  text-align: center;
  border: 0x;
}

.center {
text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.overlay {
  z-index:10;
  position:relative;
  top: -425px;
    text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
    border: 0x;

}


#heatmapArea {
    position: fixed;
    z-index: auto;
    margin-left:auto;
    margin-right:auto;
    width:1020px;
    height:425px;
      border: 0x;

}

