<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="">New York Times data visualized through Google Maps</a></li>
          </ul>
            <div class="navbar-form pull-right">
            <ul class="nav">
              <li><a href="mailto:nicklombardi@gmail.com?Subject=NewsCloud" target="_top"> Contact </a></li>
            </ul>
          </div>
      </div>
    </div>
  </div>
  <%= javascript_include_tag "application" %>
</div>
