<div class="navbar navbar-fixed-top">
  <div class="container">

    <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <!-- Be sure to leave the brand out there if you want it shown -->
    <a class="navbar-brand" href="/">NewsCloud</a>

    <!-- Place everything within .navbar-collapse to hide it until above 768px -->
    <div class="nav-collapse collapse navbar-responsive-collapse pull-right" style="padding-top: 10px">

    <% if current_user %>
      <ul class="nav navbar-nav">
        <li><a href="#">Hello <%= current_user.email %></a></li>
      </ul>
       <li><a href=""> Hello <%= current_user.email %></a></li>
      <button class="btn btn-primary btn-small"><a href="/users/sign_out">Sign Out</a></button>
      <% else %>

      <a href="/users/sign_up" class="a-nav">Sign Up</a>
      <button class="btn btn-primary btn-small"><a href="/users/sign_in">Sign In</a></button>
       <span class="icon-bar"></span>
      <% end %>

    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div><!-- /.navbar -->
